.wrapper {
    max-width: 1072px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.titleSection {
    font-family: 'Open Sans Bold', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #182135;
    margin: 0;
}

.rightBlock {
    margin-top: 8px;
    padding-right: 2px;
}

.span {
    font-family: 'Open Sans SemiBold', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #503E9D;
    margin-right: 10px;
}

.link {
    text-decoration: none;
}

