.time {
    width: 67px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.span {
    width: 46px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans Regular', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #878787;
}