.news {
    max-width: 336px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.rightBlock {
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
